# DokuWiki data directory gitignore file
# Cache files
cache/
# Temporary files
tmp/
# Index files
index/
# Lock files
locks/
# Log files
log/
# Metadata files
meta/
# Old versions of pages
attic/
# System files
.htaccess
_dummy
data
deleted.files
# Gitbacked plugin files
gitbacked/
